<section id="about">
  <div class="container">
    <h2>About Me</h2>
    <div class="about-content">
      <div class="about-text">
        <p>
          Dynamic Software Engineer with a year of experience in full-stack
          mobile and web development, passionate about building applications and
          game development. Proven track record delivering optimized, innovative
          solutions across multiple projects. Balancing creativity with
          problem-solving, precise communication while driving teamwork along
          the way.
        </p>
      </div>
      <div class="about-image">
        <img src="assets/avatar.png" alt="Firas Hkiri" />
      </div>
    </div>
  </div>
</section>
